@charset "UTF-8";

* {
	box-sizing : border-box;
	padding:0;
	margin:0;
}

a {
	text-decoration : none;
	color : white;
}
a:hover{
	text-decoration : underline;
	color : #CCC;
}
table, th, td {
	border: 1px solid gray;
	border-collapse : collapse;
	white-space:nowrap;
}

table {
	width:100%;
}
th, td{
	padding:10px;
}
main{
	width:80%;
	margin: auto;
}

h2{
	margin:20px;
}

#table1 , th , td {
	border:1;
	width:45%;
}
